#employees{
    margin-top: 10%;
}

.employees-box{
    height: 50vh;
    display: flex;
    flex-wrap: wrap; 
    font-family: main;
    margin-top: -2%;
    
}
.employees-container{
    margin-top: 3%    
}

#team-quote{
    color: var(--main);
    font-family: headers;
    font-weight: bold;
    font-size: 300%
}
.employees-wrapper{
    width: 17%;
}

.employee-card{
    width: 22%;
    height: 90%;
/*    box-shadow: 0px 0px 5px #c4c4c4;*/
    
}

.center-card{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.employee-img{
    height: 70%;
    background: url(../img/web-dev.jpg) center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.employee-title{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 150%;
    background-color: #f1f1f1;
}

.employee-name{
    font-size: 130%;
    font-weight: bold;
    color: var(--main);
}

.role{
    margin-top: -10%
}
