#projects-box{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#projects-container{
    width: 55vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 50px #c3c3c3;
}

.project{
    width: 27.5vw;
    height: 32.5vh;
    box-shadow: 0px 0px 10px #2d2d2d;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}

.project:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#first{
    background: url(../img/colosseum.jpg)  center no-repeat;
    background-size: cover;
}

#second{
    background: url(../img/tower.jpg)  center no-repeat;
    background-size: cover;
}

#third{
    background: url(../img/bigben.jpg)  center no-repeat;
    background-size: cover;
}

#fourth{
    background: url(../img/gates.jpg)  center no-repeat;
    background-size: cover;
}

#see-project-container{
    width: 55vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.see-project-box{
    position: relative;
    z-index: 2;
    width: 27.5vw;
    height: 32.5vh;
    margin-top: -65vh;
    background-color: ;
    color: transparent;
    opacity: 0.9;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: headers;
    font-size: 200%
}

.project-link{
    color: transparent;
    transition: 0.4s;
    text-decoration: none;
}

.see-project-box:hover{
    background-color: var(--main);
}

.see-project-box:hover>.project-link{
    color: white;
    text-decoration: none;
}

.see-project{
    width: 22.5vw;
    height: 27.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-title{
    color: var(--main);
    font-family: headers;
    font-weight: bold;
    font-size: 300%;


}

#check-projects{
    position: relative;
    cursor: pointer;


}
#check-projects-desc-container{
    margin-top: -3%;
}

#check-projects-desc{
    font-family: description;
    font-size: 110%;
}

i {
    border: solid var(--main);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    margin-right: 3%;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#check-projects{
    font-family: headers;
    font-weight: bold;
    font-size: 200%;
    color: var(--main);
    margin-top: 5%;
    border-right: 1px solid var(--main);
    display: flex;
    align-items: center;

}
