#welcome-box{
    height: 90vh;
    color: white;

}

@media (min-width: 768px) {
  #welcome {
    margin-top: -50px;
  }
}

#particles-js{
    background-color: #400c8d;
    height: inherit;
}

#company-title-container{
    position: absolute;
    width: 100%;
    margin-top: -90vh;
    background-color: none;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 250%;
    font-family: main;
}

#company-name{
    font-size: 200%;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    font-weight: bold
}

#company-desc{
    margin-top: 35vh;
}

@media screen and (max-width: 768px) {
  #welcome-box{
    height: 60vh;
  }
  #company-title-container{
    height: 60vh;
    margin-top: -60vh;
  }
}
@media screen and (max-width: 576px) {
  #welcome-box{
    height: 90vh;
  }
  #company-title-container{
    height: 90vh;
    margin-top: -90vh;
  }
}
