#about-box{
    animation-name: box-appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#company-desc{
    overflow: hidden;
}

#cards{
  width: 100%;
}
#cards-container{
    display: flex;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    margin-top: -11.5vh;
    padding: inherit;
    border-radius: 1px;
    background-color: white;
    font-family: main;
    color: var(--main);
    flex-wrap: wrap;
}
.card{
    width: 25%;
    height: 35vh;

/*    border: solid 1px rgba(232, 232, 232, 0.71);*/
    box-shadow: 0px 0px 1px #c1c1c1;
    font-weight: bold;
}

.icon-container{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 35%;
    height: auto;
}

@media (min-width: 768px) {
    .icon {
        width: 25%;
    }
}

@media (min-width: 991px) {
    .icon {
        width: 50%;
    }
}

.feature{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

#company-desc{
  width: 100%;
}
#company-desc-text{
    margin-left: 5%;
    text-align: right;
    font-family: description;
}

#history-title{
    color: var(--main);
    font-family: headers;
    font-weight: bold;
    font-size: 300%;

}

#history-desc{
    font-size: 110%;
}

#img-container{
    height: 70vh;
    background: url("../img/about.jpg");
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: 5%;
    box-shadow: 0px 0px 50px #c3c3c3;

}

#triangle-container{
    position: relative;
}
#triangle{
    width: 0;
    height: 0;
    border-bottom: 90vw solid var(--main);
    border-left: 45vw solid transparent;
    opacity: 0.9;
    position: absolute;
    right: 0;
    margin-top: -25vh;
}

@media screen and (max-width: 1200px) {
    #img-container{
        height: 40vh;
    }
}

/*iPad*/
@media screen and (max-width: 1024px) {
    #img-container{
        height: 70vh;
    }
}

@media screen and (max-width: 992px) {
  .card{
    width: 50vw;
    height: 30vh;
  }
  #cards-container{
    width: 100%;
    margin: 0;
  }
  #company-desc{
    margin: 0;

    padding-top: 10%;
  }
  #img-container{
    margin: 0;
    height: 70vh;
  }

  #company-desc-text{
    text-align: center;
    padding-bottom: 10%;
  }
  #triangle{
    margin-top: -25vh;
  }
}


